:root {
   --light: #fff;
   --dark: #443737;
   --accent-light: #ffc725;
   --accent-dark: #f37335;
   --addition: #44373780;
   --description: #ffffffcc;
   --breadcrumbs: #ffffff80;
   --footer-bg: #1e2f40;
   --ff-header: 'Nunito Sans', sans-serif; 
   --ff-text: 'Open Sans', sans-serif;
   --transition: .3s ease-in-out;
   --container-size: 1180px;
   --line: #dedede;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: var(--ff-text);
}

img {
   max-width: 100%;
   height: auto;
}

.intro {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 142px;
   color: var(--light);

   &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.4);
      z-index: 1;
   }

   .breadcrumbs {
      position: relative;
      z-index: 2;
      margin: 0;
      margin-bottom: 8px;
      white-space: nowrap;
      font-size: 15px;
      color: var(--breadcrumbs);
   }

   .title {
      position: relative;
      z-index: 2;
      margin: 0;
      white-space: nowrap;
      color: var(--light);
      text-transform: capitalize;
      text-align: center;
      font-size: 79px;
      font-weight: 700;
      font-family: var(--ff-header);
      margin-bottom: 11px;
   }

   .description {
      text-align: center;
      z-index: 2;
   }
}


.description {
   color: var(--description);
   margin: 0;
   font-size: 15px;
   line-height: 160%;
   font-weight: 400;
   width: 320px;
}

.button {
   padding: 14px 24px;
   text-transform: uppercase;
   font-family: var(--ff-header);
   text-decoration: none;
   font-size: 14px;
   font-weight: 700;
   line-height: 129%;
   color: var(--dark);
   border-radius: 5px;
   background: var(--accent-light);
   transition: var(--transition);
}

.button:hover {
   filter: brightness(0.9)
}

.wrapper {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
}

.section {
   max-width: var(--container-size);
   margin: 100px auto;

   .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   .title {
      margin: 0;
      font-family: var(--ff-header);
      font-weight: 700;
      font-size: 44px;
      line-height: 127%;
      text-transform: uppercase;
      color: #443737;
   }

   .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 50px;

      .name {
         margin-top: 20px;
         margin-bottom: 5px;
         font-family: var(--ff-header);
         font-weight: 600;
         font-size: 30px;
         line-height: 127%;
         text-align: center;
         color: var(--dark);
      }

      .price {
         margin: 0;
         font-family: var(--second-family);
         font-weight: 700;
         font-size: 20px;
         line-height: 140%;
         text-align: center;
         color: var(--addition);
      }

      .button {
         display: flex;
         align-items: center;
         justify-content: center;
         margin-top: 20px;
         outline: none;
         border: none;
         width: 152px;
         height: 38px;
         padding: 0;

         .cart {
            margin-right: 8px;
            width: 18px;
            height: 18px;
         }
      }
   }
      &.row {
         .container {
            .content {
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;
               width: 100%;
               margin-inline: auto;
            }
         }
      }
}

@media screen and (width <= 1200px) {
   .section {
      width: auto;
      margin-inline: 15px;
   }
}

@media screen and (width <= 622px) {
   .section.row {
      .wrapper .container {
         flex-wrap: wrap;
      }
   }
}

@media screen and (width <= 769px) {
   .section {
      flex-direction: column;
      align-items: start;
      margin-bottom: 140px;

      .wrapper {
         grid-template-columns: 1fr;
         place-items: center;
      }

      .title {
         font-size: 44px;
         color: #1B2A49;
      }

      &.row {
         .container {
            display: flex;
            flex-direction: row;
            width: 100%;

            img {
               width: 445px;
               height: 260px;
               aspect-ratio: 16/9;
               object-fit: cover;
            }
         }
      }
   }

   .container {
      width: 359px;
   }

   :root {
      --accent-light: #fbb731;
   }
}

@media screen and (width <= 471px) {
   .section {
      .title {
         font-size: 27px;
         color: #1B2A49;
      }
   }
}

@media screen and (width <= 361px) {
   .section {
      width: 330px;
      margin-top: 50px;
      margin-bottom: 80px;

      .row {
         .title {
            font-size: 27px;
         }

         .sort {
            width: 136px;
            padding: 8px 15px;
            font-size: 12px;
         }
      }

      &.row .container {
         img {
            width: 181px;
            height: 144px;
         }
      }

      .container:nth-child(1), .container:nth-child(2) {
         margin-top: 31px;
      }

      .container {
         .name {
            margin-top: 7px;
            font-size: 13px;
         }

         .price {
            font-size: 12px;
         }

         .button {
            width: 129px;
            margin-top: 7px;
         }
      }
   }

   .container {
      width: 155px;
   }
}