@import url("basic.css");
@import url("header.css");
@import url("elements.css");
@import url("footer.css");

.intro {
   background: url("../assets/intro/contacts/background.jpg");
}

.contact-main {
   display: flex;
   align-items: center;
   gap: 20px;
   max-width: 1057px;
   margin: 140px auto 60px;
}

.contact-map {
   flex-basis: 680px;
}

.contact-address {
   flex-basis: calc(100% - 680px - 20px);
   list-style-type: none;
   padding-left: 0;
}

.contact-address > li:not(:last-child) {
   margin-bottom: 26px;
}

.contact-address > li > span {
   display: block;
   font-size: 15px;
   line-height: 160%;
}

.contact-address > li > span:first-child {
   font-family: var(--nunito-sans);
   font-size: 20px;
   font-weight: 700;
   line-height: 190%;
   text-transform: uppercase;
   margin-left: 3px;
   margin-bottom: 4px;
}

.contact-address > li > span:last-child {
   font-weight: 700;
   margin-top: 10px;
}

.contact-additionally {
   display: flex;
   justify-content: space-between;
   gap: 20px;
   max-width: 1057px;
   padding-bottom: 140px;
   list-style-type: none;
   padding-left: 0;
   margin: 0 auto;
}

.contact-additionally > li {
   font-size: 15px;
   display: flex;
   align-items: center;
   gap: 15px;
}

.contact-additionally > li::before {
   content: '';
   display: block;
   width: 80px;
   height: 80px;
   background-repeat: no-repeat;
   background-size: cover;
}

.contact-additionally > li:nth-child(1):before {
   background-image: url(../assets/intro/contacts/working\ hours.svg);
}
.contact-additionally > li:nth-child(2):before {
   background-image: url(../assets/intro/contacts/phones.svg);
}
.contact-additionally > li:nth-child(3):before {
   background-image: url(../assets/intro/contacts/map.svg);
}

.contact-info,
.contact-tel {
   display: block;
   color: var(--dark);
   font-family: var(--ff-header);
   text-decoration: none;
   font-size: 20px;
   font-weight: 700;
   line-height: 140%;
   margin-top: 5px;
}

.contact-tel {
   transition: var(--transition);
}

.contact-tel:hover {
   color: var(--accent-light);
}