.sort {
   padding: 10px 30px;
   width: 279px;
   height: 44px;
   border: 1px solid #dedede;
   border-radius: 22px;
   font-weight: 400;
   font-size: 15px;
   line-height: 160%;
   color: var(--dark);
   outline: none;
}