.footer {
   padding-top: 111px;
   padding-bottom: 106px;
   background: var(--footer-bg);
   color: var(--light);

   .footer__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: var(--container-size);
      margin: 0 auto;

      .logo {
         width: 63px;
         height: 56px;
      }

      .footer__links, .footer__information {
         .title {
            text-transform: uppercase;
            margin-bottom: 12px;
         }
         
         .items {
            display: flex;
            flex-direction: column;
            gap: 15px;
            list-style-type: none;

            .item {
               .bold {
                  font-weight: bold;
               }

               .link {
                  text-decoration: none;
                  color: var(--light);
                  transition: var(--transition);

                  &:hover {
                     color: var(--accent-light);
                  }
               }

               .link ~ .link {
                  margin-top: 9px;
               }
            }
         }
      }

      .footer__information {
      }

      .footer_phones {
         display: flex;
         flex-direction: column;
         gap: 12px;

         a {
            text-decoration: none;
            color: var(--accent-light);
            transition: var(--transition);
            font-weight: 800;
            font-size: 20px;
            line-height: 190%;
            text-transform: uppercase;
            font-family: var(--ff-header);

            &:hover {
               font-weight: bold;
            }
         }
      }
   }
}