.footer {
   padding-top: 111px;
   padding-bottom: 106px;
   background: var(--footer-bg);
   color: var(--light);

   .footer__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      max-width: var(--container-size);
      margin: 0 auto;

      .logo {
         width: 63px;
         height: 56px;
      }

      .footer__links, .footer__information {
         .title {
            text-transform: uppercase;
            margin-bottom: 12px;
         }
         
         .items {
            display: flex;
            flex-direction: column;
            gap: 15px;
            list-style-type: none;

            .item {
               .bold {
                  font-weight: bold;
               }

               .link {
                  text-decoration: none;
                  color: var(--light);
                  transition: var(--transition);

                  &:hover {
                     color: var(--accent-light);
                  }
               }

               .link ~ .link {
                  margin-top: 9px;
               }
            }
         }
      }

      .footer__information {
      }

      .footer_phones {
         display: flex;
         flex-direction: column;
         gap: 12px;

         a {
            text-decoration: none;
            color: var(--accent-light);
            transition: var(--transition);
            font-weight: 800;
            font-size: 20px;
            line-height: 190%;
            text-transform: uppercase;
            font-family: var(--ff-header);

            &:hover {
               font-weight: bold;
            }
         }
      }
   }
}

@media screen and (width <= 1025px) {
   .footer {
      .footer__wrapper {
         padding-inline: 15px;
      }
   }
}

@media screen and (width <= 769px) {
   .footer {
      padding: 0;

      .footer__wrapper {
         display: grid;
         grid-template-columns: 140px repeat(2, 1fr);
         justify-content: space-between;
         padding-inline: 15px;
         padding-top: 59px;
         padding-bottom: 71px;

         .footer_phones {
            transform: translateX(100%) translateY(13px);
            white-space: nowrap;
         }
      }
   }
}

@media screen and (width <= 471px) {
   .footer {
      .footer__wrapper {
         grid-template-columns: 1fr;

         .footer_phones {
            transform: none;
         }
      }
   }
}

@media screen and (width <= 361px) {
   .footer {
      .footer__wrapper {
         display: flex;
         flex-flow: row wrap;
         justify-content: space-between;
         gap: 32px;
         padding-inline: 13px;
         padding-top: 51px;
         padding-bottom: 61px;
         width: 332px;

         .footer_phones {
            order: 1;
            transform: none;
         }

         .footer__links {
            order: 2;
         }

         .footer__information {
            order: 3;
         }
      }
   }
}