.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 26px;
   margin: 0 auto;
   max-width: var(--container-size);

   .hamburger-logo-wrapper {
      display: flex;
      align-items: center;
      gap: 21px;
   }

   .hamburger-menu {
      display: none;
      cursor: pointer;
      width: 34px;
      height: 22px;
   }

   .header__logo {
      display: flex;
      align-items: center;
      gap: 11.7px;
   }

   .menu {
      .menu__close {
         display: none;
      }

      .menu__list {
         position: relative;
         display: flex;
         gap: 40px;
         list-style-type: none;
         font-size: 20px;
         line-height: 24px;
         font-weight: 600;
         margin: 0;

         .menu__item {
            text-align: center;

            .menu__link {
               color: var(--dark);
               text-decoration: none;
               font-weight: 600;
            }

            .menu__link::after {
               content: '';
               display: block;
               width: 0;
               height: 3px;
               border-radius: 1.5px;
               background: transparent;
               transition: var(--transition);
            }

            .menu__link:hover::after {
               width: 100%;
               background: var(--accent-light);
            }
         }

         :first-child .menu__link::after {
            width: 100%;
            background: var(--accent-light);
         }
      }
   }

   .header__cart {
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;

      .cart {
         position: relative;

         .cart__image {
            width: 34px;
            height: 26px;
         }

         .cart__count {
            position: absolute;
            right: 0px;
            bottom: 4px;
            color: var(--light);
            background: var(--accent-dark);
            padding: 1px 5px;
            border-radius: 30px;
            font-weight: bold;
            font-size: 10px;

            &:empty {
               display: none;
            }
         }
      }

      .balance {
         font-weight: 700;
         font-size: 15px;
      }
   }
}

@media screen and (width <= 769px) {
   .header {
      position: relative;
      width: 100%;
      padding: 30px 15px;

      .header__logo {
         width: 150px;
         height: 47px;
      }

      .hamburger-menu {
         display: block;
      }

      .header__logo {
         width: 116.08px;
         height: 37px;
      }

      .menu {
         position: absolute;
         top: 20px;
         left: 10%;
         z-index: 3;
         visibility: hidden;
         opacity: 0;
         width: 80%;
         background: #fff8dc;
         transition: var(--transition);

         &.active {
            visibility: visible;
            opacity: 1;
         }

         .menu__list {
            display: flex;
            flex-direction: column;
            padding-block: 40px;

            :first-child .menu__link::after {
               display: none;
            }
         }

         .menu__close {
            display: block;
            position: absolute;
            top: 20px;
            right: 20px;
            width: 22px;
            height: 22px;
            z-index: 2;
         }
      }
   }
}

@media screen and (width <= 769px) {
   .header {
      padding: 19px 15px;
   }
}