:root {
   --white: #fff;
   --accent: #ffc725;
   --main: #443737;
   --addition: #44373780;
   --description: #ffffffcc;
   --breadcrumbs: #ffffff80;
   --discount: #f37335;
   --footer-bg: #1e2f40;
   --ff-header: 'Nunito Sans', sans-serif; 
   --ff-text: 'Open Sans', sans-serif;
   --transition: .3s ease-in-out;
}

body {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: var(--ff-text);
}

.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 26px;
   margin: 0 auto;
   width: 1180px;

   .header__logo {
      display: flex;
      align-items: center;
      gap: 11.7px;

      .logo__title {
         color: var(--main);
         text-transform: uppercase;
      }
   }

   .menu {
      .menu__list {
         position: relative;
         display: flex;
         gap: 40px;
         list-style-type: none;
         font-size: 20px;
         line-height: 24px;
         font-weight: 600;
         margin: 0;

         .menu__item {
            text-align: center;

            .menu__link {
               color: var(--main);
               text-decoration: none;
            }
         }
      }
   }

   .header__cart {
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;

      .cart {
         position: relative;

         .cart__image {
            width: 34px;
            height: 26px;
         }

         .cart__count {
            position: absolute;
            right: 5px;
            bottom: 8px;
            color: var(--white);
            font-weight: bold;
            font-size: 10px;
         }
      }

      .balance {
         font-weight: bold;
         font-size: 15px;
      }
   }
}

      /* <section class="menu">
         <p class="breadcrumbs">Главная / Меню</p>
         <h1 class="title">Наше Меню</h1>
         <p class="description">Выбирай из предложенного ассортимента и мы доставим блюдо в течении часа</p>
      </section> */

section.menu {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 142px;
   color: var(--white);
   background: url("../assets/menu/background.jpg") no-repeat center center;

   &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.4);
      z-index: 1;
   }

   .breadcrumbs {
      position: relative;
      z-index: 2;
      font-size: 15px;
      color: var(--breadcrumbs);
      margin-bottom: 8px;
   }

   .title {
      position: relative;
      z-index: 2;
      margin: 0;
      color: var(--white);
      text-transform: capitalize;
      text-align: center;
      font-size: 79px;
      font-weight: 700;
      font-family: var(--ff-header);
      margin-bottom: 11px;
   }

   .description {
      color: var(--description);
      text-align: center;
      margin: 0;
   }
}