@import url("header.css");

:root {
   --light: #fff;
   --dark: #443737;
   --accent-light: #ffc725;
   --accent-dark: #f37335;
   --addition: #44373780;
   --description: #ffffffcc;
   --breadcrumbs: #ffffff80;
   --footer-bg: #1e2f40;
   --ff-header: 'Nunito Sans', sans-serif; 
   --ff-text: 'Open Sans', sans-serif;
   --transition: .3s ease-in-out;
   --container-size: 1180px;
}

body {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: var(--ff-text);
}

.description {
   color: var(--description);
   margin: 0;
   font-size: 15px;
   line-height: 160%;
   font-weight: 400;
   width: 320px;
}

.button {
   padding: 14px 24px;
   text-transform: uppercase;
   font-family: var(--ff-header);
   text-decoration: none;
   font-size: 14px;
   font-weight: 700;
   line-height: 129%;
   color: var(--dark);
   border-radius: 5px;
   background: var(--accent-light);
   transition: var(--transition);
}

.row {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.wrapper {
   display: flex;
   align-items: start;
   flex-wrap: wrap;
   justify-content: space-between;
}

section.menu {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 142px;
   color: var(--light);
   background: url("../assets/menu/background.jpg") no-repeat center center;

   &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.4);
      z-index: 1;
   }

   .breadcrumbs {
      position: relative;
      z-index: 2;
      font-size: 15px;
      color: var(--breadcrumbs);
      margin: 0;
      margin-bottom: 8px;
   }

   .title {
      position: relative;
      z-index: 2;
      margin: 0;
      color: var(--light);
      text-transform: capitalize;
      text-align: center;
      font-size: 79px;
      font-weight: 700;
      font-family: var(--ff-header);
      margin-bottom: 11px;
   }

   .description {
      text-align: center;
      z-index: 2;
   }
}

.advertisement {
   background: url("../assets/advertisement/background.png") center center;
   background-size: cover;
   width: var(--container-size);
   margin: 120px auto 100px;
   padding: 100px;
   box-sizing: border-box;

   .discount {
      padding: 5px 18px;
      text-transform: uppercase;
      font-weight: bold;
      color: var(--light);
      border-radius: 14px;
      background: var(--accent-dark);
   }

   .title {
      margin: 0;
      margin-top: 18px;
      color: var(--light);
      font-size: 79px;
      font-weight: 800;
      font-family: var(--ff-header);
      margin-bottom: 11px;
   }

   .description {
      margin-bottom: 30px;
   }
}

.burgers, .additionally {
   width: var(--container-size);
   margin: 100px auto;

   .title {
      margin: 0;
      font-family: var(--ff-header);
      font-weight: 700;
      font-size: 44px;
      line-height: 127%;
      text-transform: uppercase;
      color: #443737;
   }

   .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 50px;

      .name {
         margin-top: 20px;
         margin-bottom: 5px;
         font-family: var(--ff-header);
         font-weight: 600;
         font-size: 30px;
         line-height: 127%;
         text-align: center;
         color: var(--dark);
      }

      .price {
         margin: 0;
         font-family: var(--second-family);
         font-weight: 700;
         font-size: 20px;
         line-height: 140%;
         text-align: center;
         color: var(--addition);
      }

      .button {
         margin-top: 20px;
         outline: none;
         border: none;
         width: 152px;
         height: 38px;
         align-items: start;
         justify-content: center;
         padding: 0;

         .cart {
            margin-right: 8px;
            width: 18px;
            height: 18px;
         }
      }
   }
}

.footer {
   width: var(--container-size);
   margin: 100px auto;
}